Options +Indexes
IndexOptions IgnoreCase FancyIndexing FoldersFirst NameWidth=* SuppressHTMLPreamble SuppressDescription SuppressLastModified
HeaderName header.html
IndexOrderDefault Descending Name
IndexIgnore header.html *.br

#Next 4 lines are to stop caching.
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
	#Cache images for two days, then force revalidation.
	Header set Cache-Control "max-age=172800, public, must-revalidate"
</FilesMatch>