#Make sure .htaccess files aren't disabled.

#Apache will serve files with a different charset, and break unicode characters, unless this is set.
AddDefaultCharset UTF-8

RewriteEngine On

#Redirect from www.rivers.run to rivers.run
RewriteCond %{HTTP_HOST} ^www.rivers.run [NC]
RewriteRule ^(.*)$ https://rivers.run/$1 [L,R=301]

# Redirect HTTP connections to HTTPS
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

#Strict transport security - force https in future.
Header always set Strict-Transport-Security "max-age=63072000; preload; includeSubdomains" env=HTTPS

#Allow usgscache to be loaded by dev site and rivers.run. This is a bit too lax, but whatever.
<FilesMatch "\.(json)$">
Header set Access-Control-Allow-Origin *
Header set Access-Control-Expose-Headers Date
</FilesMatch>

#Block access to .git files
RedirectMatch 403 /\.git

#Block all access to data directory.
RedirectMatch 403 ^/data/.*$

#Proxy /node to localhost at port 3000
#ProxyPass doesn't work in .htaccess. Put in site config file.
#ProxyRequests on
#ProxyPass /node http://127.0.0.1:3000/node
#ProxyPassReverse /node http://127.0.0.1:3000/node

#Images can be cached for 5 days. Serve up to 100 days old if errors.
<FilesMatch "\.(png|jpeg)$">
Header set Cache-Control "max-age=432000, public, stale-if-error=8640000"
</FilesMatch>

#Make sure the site stays up to date. 12 hour cache for javascript, html, and css, but up to 100 days old if errors.
<FilesMatch "\.(js|css|html)$">
Header set Cache-Control "max-age=43200, public, stale-if-error=8640000"
</FilesMatch>

#5 minute cache. Serve up to 1 day old if errors.
<FilesMatch "usgscache.json">
Header set Cache-Control "max-age=300, public, stale-if-error=86400"
</FilesMatch>

#1 day cache. Serve up to 100 days old if errors.
<FilesMatch "(riverarray.js|manifest.json)">
Header set Cache-Control "max-age=86400, public, stale-if-error=8640000"
</FilesMatch>

#3 day cache (overviews don't change much). Serve up to 100 days old if errors.
<FilesMatch "overviews.js">
Header set Cache-Control "max-age=259200, public, stale-if-error=8640000"
</FilesMatch>


ErrorDocument 404 /404.html


RemoveLanguage .br
AddEncoding br .br
RemoveType .gz
AddEncoding x-gzip .gz

AddType "text/html" .html.br .htm.br .html.gz .htm.gz
AddType "text/css" .css.br css.gz
AddType "text/plain" .txt.br txt.gz
AddType "text/xml" .xml.br .xml.gz
AddType "application/javascript" .js.br .js.gz
AddType "application/json" .json.br .json.gz
AddType "image/svg+xml" .svg.br .svg.gz

Header append Vary Accept-Encoding

#Serve a brotli precompressed file if one exists and the user agent accepts it.
RewriteCond %{HTTP:Accept-Encoding} br
RewriteCond %{REQUEST_FILENAME}\.br -f
RewriteRule ^(.+)$ $1.br [E=no-gzip,L]

#TODO: Serve gzip precompressed files too.

#Run other files through deflate. Default compression level is 6.
SetOutputFilter DEFLATE
