#Make sure .htaccess files aren't disabled.

#Apache will serve files with a different charset, and break unicode characters, unless this is set.
AddDefaultCharset UTF-8

SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-brotli no-gzip

SetOutputFilter DEFLATE
#Max deflate compression level. Levels are 0-9
#DeflateCompressionLevel 9

#TODO: Brotli doesn't appear to be working. Compression levels are resulting in not allowed here error.
#SetOutputFilter BROTLI_COMPRESS
#Max brotli compression levels before speed totally plummets. Levels are 0-11.
#BrotliCompressionQuality 9
