:root {
    --textsize: 2.4vw;
    --screenheight: 300px;
}

/*Chart CSS*/
canvas{
    display: block;
    margin: auto;
    border: 1px solid black;
    width: 90vw;
    max-width: 150vh;
    height: 80vw;
    max-height: 90vh;
    background-color: white;
    
}
  
.canvasbuttons {
    text-align: center;
}

.FlowButton {
    background-Image: linear-gradient(to right, #00AAFF80 , #0000FF80);
    border: 0;
    color: white;
}
    
.TempButton {
    background-Image: linear-gradient(to right, red , blue);
    border: 0;
    color: white;
}
    
.PrecipButton {
    background-color: #0066FF80;
    border: 0;
    color: white;
}
    
.Unselected {
    border: 0;
    background-color: #e7e7e7;
    /*Stop first of type from turning Flow Info green*/
}


/*Dynamic Images*/
img {
    max-width: 100%;
    max-height: 3vw;
    width: auto;
    height:auto;
}


/*Make height attribute work*/
html,body{
    height: 100%;
}

body {
    margin-right:0.4vw;
    margin-left:0.4vw;
}

/*Embedded Frames*/
iframe {
    width:100%;
    height:var(--screenheight);
}


label {
   font-size: 12px 
}

p { 
    text-align: center;
}

h1 {
    text-align: center
}

#ReloadAll {
    text-align: center;
    display: block;
}

#ReloadAllText {
    display: inline;
}

#ReloadAllButton {
    display: none;
}

#SearchBox {
    width:100%;
}

.pixel18 {
    font-size:18px;
}

.pixel22 {
    font-size:22px;
}

.pixel9 {
    font-size:9px;
}

.topnav {
  overflow: hidden;
  background-color: #24b9cc;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #359daa;
}
.current {
  background-color: #25d1a7;
}

body {font-family: Arial, Helvetica, sans-serif;}  
    
body {
    background-color: lightblue;
} 
       
.accordion {
    background-color: #f0f0f0;
    color: #444;
    cursor: pointer;
    padding: 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: var(--textsize);
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color: #d9d9d9;
}
.panel {
    padding: 0;
    background-color: lightblue;
    max-height: 0;
    overflow: hidden;
    /*transition: max-height 0.2s ease-out;
    Looks nice, but lags bad with more elements.*/
}
.riverspan {
    display: inline-block;
    width:22%;
    overflow:hidden;
    font-size: var(--textsize);
    text-align: left/*Used center earlier, and got complaints.*/;
}
 
/*Style the first Rivers element.*/
button:nth-child(4n + 1) {
    background-color: #e9e9e9;
}   
 
button:first-of-type {
    background-color: #77ff77;
    padding-top: 8px;
    padding-bottom: 8px;
}
  
button:first-of-type:hover {
    background-color: lightgreen;
}
  

span:nth-child(3) {
    width:8%;
    /*Difficulty collum needs less space*/
}

span:nth-child(4) {
    width:15%;
    /*Quality collum needs less space*/
}

span:nth-child(5) {
    width:11%;
    /*Length collum needs less space*/
}

#lessrelevant { 
    background-color: #FF9999;
}
