html, body {
    margin:0;
    border:0;
    height:100%;
    background-color:#dffaff;
}

/*Chart CSS*/
.graph {
    display: block;
    margin: auto;
    border: 1px solid black;
    width: 90vw;
    max-width: 150vh;
    height: 80vw;
    max-height: 90vh;
}


.starimg {
    max-width: 100%;
    max-height: 2.8vw;
    width:auto;
    height:auto;
}

.searchcontain {
    margin-bottom:18px;
    margin-left:4px;
}

#searchimg {
    display:inline-block;
    max-width:43px;
    max-height:43px;
    width:auto;
    height:auto;
    vertical-align:middle;
}

#advancedsearch {
    display:inline-block;
    text-decoration: underline;
    cursor: pointer;
}

#searchbox {
    display:inline-block;
    padding:12px;
    vertical-align:middle;
    width:30%
}

#searchbox::placeholder {
    /*Make the text show up a little better.*/
    font-size: 1.1em; 
    font-weight: bold;
}

/*riverspans are the spans that actually hold the information - there are 6 riverspans for each river. 
Those include name,section,skill,quality, and flow info*/

.riverspan {
    display:inline-block;
    margin:0px; /*Used 2px, but not enough space*/
    /*overflow:scroll;*/
    /*Scrollbars showing when not needed in Safari desktop. Need to debug*/
}

.riverspan:nth-child(1) {
    width:23%;
}
.riverspan:nth-child(2) {
    width:31%;
}
.riverspan:nth-child(3) {
    width:8%;
}
.riverspan:nth-child(4) {
    width:14%;
}
.riverspan:nth-child(5) {
    width:24%;
}
/*End of riverspan style*/    

/*riverbutton is the element that holds all the riverspans*/
.riverbutton {
    width:100%;
    border:0;
    margin:0;
    transition: 0.2s;
    text-align:left;
    font-size: 3.0vw;
    display: block; /*This bug took me hours to find. If this is not included, spaces appear between buttons in list on smaller devices*/
}

.riverbutton:nth-child(even) {
    background-color: #f4f4f4;
}
.riverbutton:nth-child(odd) {
    background-color: #f7f7f7;
}
.riverbutton:focus {
    outline:0;
}   
.riverbutton:hover {
    background-color: #e3e3e3;
}

/*Controlling font size smoothly based on screen size*/
@media screen and (min-width: 500px) {
    .riverbutton {
        font-size: 2.6vw;
    }
}
@media screen and (min-width: 600px) {
    .riverbutton {
        font-size: 2.3vw;
    }
}
@media screen and (min-width: 700px) {
    .riverbutton {
        font-size: 2.0vw;
    }
}
@media screen and (min-width: 800px) {
    .riverbutton {
        font-size: 1.7vw;
    }
}
@media screen and (min-width: 1000px) {
    .riverbutton {
        font-size: 1.5vw;
    }
}
@media screen and (min-width: 1500px) {
    .riverbutton {
        font-size: 1.27vw;
    }
}
/*End of riverbutton style*/    

/*topbar is the header element for all the rivers. You can click it to order alphabetically, by quality, skill, ext.*/
#topbar {
    background-color:#77ff77;
    width:100%;
    padding:10px;
    border:0;
}

#topbar:hover {
    background-color:#77ff77;
}    
/*End of topbar style*/




/*Utilities Stuff - To avoid inline CSS*/
.center {
    text-align:center;
}

.pixel18 {
    font-size:18px;
}


@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #090920;
        color: #cccccc;
    }
    .riverbutton:nth-child(even) {
        background-color: #222222;
    }
    .riverbutton:nth-child(odd) {
        background-color: #252525;
    }
    .riverbutton {
        color:#cccccc;
    }
    .riverbutton:hover {
        background-color: #333333;
    }   

    #topbar {
        color:black;
    }

    #searchbox {
        background-color:#545454;
        border: none;
        color: #FAFAFA;
    }

    #searchbox::placeholder {
        color: #FAFAFA;
    }


}
