GCLOUD_PROJECT=your-gcloud-project-id
FASTLANE_KEYS_DIR=~/Documents/Keys

FASTLANE_APPLE_ID=your@email.com

ASC_KEY_ID=XXXXXXXXXX
ASC_ISSUER_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
ASC_KEY_FILEPATH=~/Documents/Keys/Fastlane_AppStoreconnect_AuthKey_XXXXXXXXXX.p8

PLAY_JSON_KEY_FILE=~/Documents/Keys/play-store-<app-slug>.json
